
########## API SETTINGS ##########
API_PORT=<%API_PORT%>
API_VERSION=<%API_VERSION%>
API_SSL_CERT=<%API_SSL_CERT%>
API_SSL_KEY=<%API_SSL_KEY%>
API_SSL_CA=<%API_SSL_CA%>
UUID_NAMESPACE=<%UUID_NAMESPACE%>

########## APP SETTINGS ##########
APP_PORT=<%APP_PORT%>
APP_SSL_CERT=<%APP_SSL_CERT%>
APP_SSL_KEY=<%APP_SSL_KEY%>
APP_SSL_CA=<%APP_SSL_CA%>
STATIC_DIRECTORY=<%STATIC_DIRECTORY%>
ERROR_PAGE_FILE=<%ERROR_PAGE_FILE%>
MISSING_PAGE_FILE=<%MISSING_PAGE_FILE%>

########## DB SETTINGS ##########
DB_HOST=<%DB_HOST%>
DB_PORT=<%DB_PORT%>
DB_USERNAME=<%DB_USERNAME%>
DB_PASSWORD=<%DB_PASSWORD%>
DB_NAME=<%DB_NAME%>
DB_TIMEOUT=<%DB_TIMEOUT%>

########## GOOGLE SETTINGS ##########
GOOGLE_CLIENT_ID=<%GOOGLE_CLIENT_ID%>
GOOGLE_CLIENT_SECRET=<%GOOGLE_CLIENT_SECRET%>
GOOGLE_AUTHORISATION_SCOPES=<%GOOGLE_AUTHORISATION_SCOPES%>
GOOGLE_APPLICATION_SECRET=<%GOOGLE_APPLICATION_SECRET%>
GOOGLE_REDIRECT_URI=<%GOOGLE_REDIRECT_URI%>
GOOGLE_SUCCESS_URI=<%GOOGLE_SUCCESS_URI%>

########## GENERAL REDIRECT SETTINGS ##########
FAILURE_URI=<%FAILURE_URI%>

########## IP RESTRICT SETTINGS ##########
IP_WHITELIST=<%IP_WHITELIST%>